# Neon PostgreSQL Connection String
DATABASE_URL=postgres://user:password@hostname/dbname?sslmode=require

# Django Secret Key
SECRET_KEY=cambiame-por-una-clave-secreta-larga

# Debug Mode (False en producción)
DEBUG=False

# Hosts Permitidos (separados por espacio)
ALLOWED_HOSTS=akisito-back.onrender.com localhost 127.0.0.1

# Orígenes Permitidos (CORS y CSRF - separados por espacio)
CORS_ALLOWED_ORIGINS=http://akisito.lat
CSRF_TRUSTED_ORIGINS=http://akisito.lat
