# Neon PostgreSQL Connection String
# Get this from your Neon dashboard: https://console.neon.tech/
DATABASE_URL=postgresql://neondb_owner:np

# Django Secret Key (Keep this secret!)
SECRET_KEY=django-insecure-e@fnoew6a1l@=)_xv3ju+z(uq!=)n@5jn8kh-9cnmd4_m-$)ub

# Debug Mode (False for production)
DEBUG=False

# Allowed Hosts (space separated)
ALLOWED_HOSTS=akisito-back.onrender.com localhost 127.0.0.1
