# Neon PostgreSQL Connection String
# Get this from your Neon dashboard: https://console.neon.tech/
DATABASE_URL=postgresql://neondb_owner:npg_Qa0bKP2dSwfj@ep-silent-unit-apvmo1h8.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require

# Django Secret Key (Keep this secret!)
SECRET_KEY=django-insecure-e@fnoew6a1l@=)_xv3ju+z(uq!=)n@5jn8kh-9cnmd4_m-$)ub

# Debug Mode
DEBUG=True
